<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;0,900;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script rel="text/javascript" src="/responsive.js" defer></script>
    <script rel="text/javascript" src="/tdgame.js" defer></script>
    <title>My Portfolio - TD3D Game</title>
  </head>
<body>
  <header>
    <nav>
      <div class="logo-container">
        <a href="/home" class="logo-text secondary-color">Portfolio</a>
      </div>
      <ul class="nav-links">
        <li class="nav-list"><a href="/home#home" class="nav-link">Home</a></li>
        <li class="nav-list"><a href="/home#about" class="nav-link">About</a></li>
        <li class="nav-list"><a href="/home#projects" class="nav-link" data-projects-nav-link>Projects</a></li>
        <ul class="dropdown-content" data-projects-drop-down>
          <li class="nav-list"><a href="/tower-defence-3d-enemy-wave" class="drop-link">Tower Defence 3D - Enemy Wave</a></li>
          <li class="nav-list"><a href="/basketball-score-app" class="drop-link">Basketball Score App</a></li>
          <li class="nav-list"><a href="https://blogposter-website.herokuapp.com/bLogPoster" class="drop-link">bLogPoster</a></li>
          <li class="nav-list"><a href="https://top-kicks-website.herokuapp.com/home" class="drop-link">Top Kicks Website</a></li>
          <li class="nav-list"><a href="/weather-app" class="drop-link">Weather App</a></li>
          <li class="nav-list"><a href="/todo-list-app" class="drop-link">Todo List App</a></li>
        </ul>
        <li class="nav-list"><a href="#contact" class="nav-link">Contact</a></li>
      </ul>
      <div class="menu-btn">
        <div class="line secondary-bg-color"></div>
        <div class="line secondary-bg-color"></div>
        <div class="line secondary-bg-color"></div>
      </div>
    </nav>
  </header>

  <section class="vp-100 game" id="game">
    <h1 class="header secondary-color">Tower Defence 3D - Enemy Wave</h1><br>
    <iframe class="game-screen" src="https://i.simmer.io/@prabdhal/tower-defence-3d-enemy-wave"></iframe>
    <br><br>
    <div class="game-description complementary-bg-color">
      <label>Description:</label>
      <figcaption> 
        A 3D tower defence game with 20 levels to complete. Earn up to 3 stars by completing levels 
        without taking any castle damage. Use your rewards to buy tower upgrades and special items 
        to help complete more difficult levels as your progress. You will be required to strategize 
        with over 16 unique tower upgrades, 4 special items and 9 unique enemies, each of which 
        have varying stats and resistances.
      </figcaption>
      <br>
      <label>Controls:</label>
      <figcaption>
        Mouse to navigate through menus and to buy and place towers. 
        Right and Left arrows to rotate camera angle in 90 degree intervals.
      </figcaption>
    </div>
    
    <section class="comments-section">
      <h2 class="sub-header">Comments</h2>
      <!-- COMMENT INPUT CONTAINER -->
      <form class="basic-form" action="/tower-defence-3d-enemy-wave/comment" method="POST">
        <%- include('../views/_comment_form_field.ejs') %>
      </form>

    <% comments.forEach(comment => { %>

      <main class="delete-comment-window hide" data-comment-message-popup-container>
        <div class="top-bar">
          Message
        </div>
        <section class="message-content">
          <p>Are you sure you want to permenantly delete this comment?</p>
          <form action="/tower-defence-3d-enemy-wave/comment/<%= comment._id %>?_method=DELETE" method="POST">
            <button type="submit" class="del-btn">Delete</button>
            <button type="button" class="cancel-btn" data-cancel-btn>Cancel</button>
          </form>
        </section>
      </main>

      <div class="comment-box-container">
        <div class="comment-info">
          <!-- comment information -->
          <span>
            <b><%= comment.user %></b>
            <span class="comment-date"><%= comment.createdAt.toDateString() %> <%= comment.createdAt.toLocaleTimeString() %></span>
          </span>
          <!-- comment and edit input container -->
          <div class="comment-and-edit-input-container">
            <div class="comment"><%= comment.comment %></div>
            <form class="hide" action="/tower-defence-3d-enemy-wave/comment/<%= comment._id %>?_method=PUT" method="POST" data-edit-comment-input-container>
              <input type="text" name="comment" value="<%= comment.comment %>">
              <button type="submit" class="submit-reply-btn">Submit</button>
              <button type="button" class="cancel-reply-btn" data-cancel-edit-comment-button>Cancel</button>
            </form> 
          </div>
          <form class="comment-like-reply-btn-container" action="/tower-defence-3d-enemy-wave/comment/<%= comment._id %>/like?_method=PUT" method="POST">
            <% if (!user) { %>
            <a class="a-like-btn" href="/account/login"><i style="font-size:0.8rem; margin-right: 5px" class="fa">&#xf087;</i><%= comment.usersLiked.length %></a>
            <a class="a-reply-btn" data-comment-reply-button href="/account/login">Reply</a>
            <% } else { %>
            <button type="submit" class="like-btn"><i style="font-size:0.8rem; margin-right: 5px" class="fa">&#xf087;</i><%= comment.usersLiked.length %></button>
            <button type="button" class="reply-btn" data-comment-reply-button>Reply</button>
            <% } %>
          </form>
        </div>
        <!-- comment buttons -->
        <div class="comments-btn-containers">
          <% if (user) { %>
          <% if (user.username == comment.user) { %>
          <div class="menu-btn" data-comment-menu-button>&#10247;</div>
          <form class="edit-del-btn-container hidden">
            <button type="button" class="edit-btn" data-edit-comment-button>Edit</button>
            <button type="button" class="del-btn" onclick="deleteCommentFunction('<%= article.slug %>', '<%= comment._id %>')" data-delete-comment-button>Delete</button>
          </form>
          <% } %>
          <% } %>
        </div>
      </div>
      <!-- REPLY INPUT CONTAINER -->
      <div class="reply-comment-input-box hide" data-reply-input-container>
        <form class="reply-comment-form" action="/tower-defence-3d-enemy-wave/comment/<%= comment._id %>/reply" method="POST">
          <span>
            <input type="text" name="replyComment" placeholder="Add a reply...">
            <button type="submit" class="submit-reply-btn">Reply</button>
            <button type="button" class="cancel-reply-btn" data-cancel-reply-button>Cancel</button>
          </span>
        </form>
      </div>
      <% replies.forEach(reply => { %>

      <main class="delete-reply-window hide" data-reply-message-popup-container>
        <div class="top-bar">
          Message
        </div>
        <section class="message-content">
          <p>Are you sure you want to permenantly delete this reply?</p>
          <form action="/tower-defence-3d-enemy-wave/comment/<%= comment._id %>/reply/<%= reply._id %>?_method=DELETE" method="POST">
            <button type="submit" class="del-btn">Delete</button>
            <button type="button" class="cancel-btn" data-cancel-btn>Cancel</button>
          </form>
        </section>
      </main>

      <% if (comment._id == reply.commentRef) { %>
      <div class="reply-comment-box-container">
        <div class="comment-info">
          <!-- reply information -->
          <span>
            <b><%= reply.author %></b>
            <span class="comment-date"><%= reply.createdAt.toDateString() %> <%= reply.createdAt.toLocaleTimeString() %></span>
          </span>
          <!-- reply and edit input container -->
          <div class="comment-and-edit-input-container">
            <div class="comment"><%= reply.replyComment %></div>
            <form class="hide" action="/tower-defence-3d-enemy-wave/comment/<%= comment._id %>/reply/<%= reply._id %>?_method=PUT" method="POST" data-edit-comment-input-container>
              <input type="text" name="replyComment" value="<%= reply.replyComment %>">
              <button type="submit" class="submit-reply-btn">Submit</button>
              <button type="button" class="cancel-reply-btn" data-cancel-edit-comment-button>Cancel</button>
            </form> 
          </div>
          <form class="comments-like-reply-btn-container" action="/tower-defence-3d-enemy-wave/comment/<%= comment._id %>/reply/<%= reply._id %>/like?_method=PUT" method="POST">
            <% if (!user) { %>
            <a class="a-like-btn" href="/account/login"><i style="font-size:0.8rem; margin-right: 5px" class="fa">&#xf087;</i><%= comment.usersLiked.length %></a>
            <% } else { %>
            <button type="submit" class="like-btn"><i style="font-size:0.8rem; margin-right: 5px" class="fa">&#xf087;</i><%= reply.usersLiked.length %></button>
            <% } %>
          </form>
        </div>
        <!-- reply buttons -->
        <div class="comments-btn-containers">
          <% if (user) { %>
          <% if (user.displayName == reply.user) { %>
            <div class="menu-btn" data-comment-menu-button>&#10247;</div>
          <form class="edit-del-btn-container hidden">
            <button type="button" class="edit-btn" data-edit-comment-button>Edit</button>
            <button type="button" class="del-btn" onclick="deleteReplyFunction('<%= comment._id %>', '<%= reply._id %>')" data-delete-reply-button>Delete</button>
          </form>
          <% } %>
          <% } %>
        </div>
      </div>
      <% } %>
      <% }) %>
    <% }) %>
    </section>




    </div>
  </section>

  <%- include('./_footer.ejs'); %> 

</body>
</html>